.oh-my-zsh/
ranger/plugins/
.config/go/
.config/systemd/
.config/pulse/
.config/dconf/
.config/xdg-desktop-portal/
.zcompdump*
.zsh_history
fish_variables
mimeapps.list
nyxt/
wyeb./
.config/gh/
.config/configstore/
.config/gitmoji-nodejs/
.config/yay/
.config/vimb/
