@import "../styles.scss";

$text: $white;

$mtop: 0px;
$mbot: 0px;
$mside: 10px;
$pleft: 10px;
$pright: 10px;

$bsize: 1px;
$bradius: 5px;

* {
  font-family: "FiraCode Nerd Font";
  font-size: 15px;
  min-height: 15px;
}

window#waybar {
  all: unset;
  background: transparent;
}

.modules-left {
  margin-top: $mside;
  margin-left: $mside;
}

.modules-center {
  margin-top: $mside;
}

.modules-right {
  margin-top: $mside;
  margin-right: $mside;
}

#workspaces {
  padding-left: 0px;
  padding-right: 12px;
  background: $bg-o;
  border: $bsize;
  border-style: solid;
  border-radius: $bradius;
  border-color: $red;
}

#workspaces button {
  color: $text;
  transition: none;
  margin: 0;
  padding-left: 8px;
  padding-right: 0px;
  transition: $anim-out;

  &:hover {
    transition: $anim-in;
    color: $red;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
  }
}

#workspaces button.active {
  transition: all 0.1s ease;
  color: $red;
}

#network {
  margin-left: $mside;
  padding-left: $pleft;
  padding-right: $pright;
  background: $bg-o;
  color: $green;
  border: $bsize;
  border-color: $green;
  border-style: solid;
  border-radius: $bradius;
  transition: $anim-out;

  &:hover {
    transition: $anim-in;
    background: $green;
    color: $bg;
  }
}

#network.disabled {
  border-color: $red;
  color: $red;

  &:hover {
    background: $red;
    color: $bg;
  }
}

#network.disconnected {
  border-color: $red;
  color: $red;

  &:hover {
    background: $red;
    color: $bg;
  }
}

#bluetooth {
  margin-left: $mside;
  padding-left: $pleft;
  padding-right: $pright;
  background: $bg-o;
  color: $text;
  border-color: $text;
  border: $bsize;
  border-style: solid;
  border-radius: $bradius;
  transition: $anim-out;

  &:hover {
    transition: $anim-in;
  }
}

#bluetooth.on {
  border-color: $blue;
  color: $blue;

  &:hover {
    background: $blue;
    color: $bg;
  }
}

#bluetooth.discovering {
  border-color: $yellow;

  &:hover {
    color: $yellow;
  }
}

#bluetooth.connected {
  border-color: $green;

  &:hover {
    color: $green;
  }
}

#privacy {
  margin-left: $mside;
  padding-left: $pleft;
  padding-right: $pright;
  background: $bg-o;
  color: $blue;
  border-color: $blue;
  border: $bsize;
  border-style: solid;
  border-radius: $bradius;
  transition: $anim-out;

  &:hover {
    transition: $anim-in;
    color: $bg;
    background: $blue;
  }
}

#clock {
  padding-left: $pleft;
  padding-right: $pright;
  background: $bg-o;
  color: $text;
  border: $bsize;
  border-style: solid;
  border-color: $text;
  border-radius: $bradius;
  transition: $anim-out;

  &:hover {
    color: $bg;
    background: $text;
    transition: $anim-in;
  }
}

#language {
  margin-right: $mside;
  padding-left: $pleft;
  padding-right: $pright;
  background: $bg-o;
  color: $yellow;
  border-color: $yellow;
  border: $bsize;
  border-style: solid;
  border-radius: $bradius;
  transition: $anim-out;

  &:hover {
    color: $bg;
    background: $yellow;
    transition: $anim-in;
  }
}

#backlight {
  margin-right: $mside;
  padding-left: $pleft;
  padding-right: $pright;
  background: $bg-o;
  color: $text;
  border: $bsize;
  border-style: solid;
  border-color: $text;
  border-radius: $bradius;
  transition: $anim-out;

  &:hover {
    color: $bg;
    background: $text;
    transition: $anim-in;
  }
}

#wireplumber {
  margin-right: $mside;
  padding-left: $pleft;
  padding-right: $pright;
  background: $bg-o;
  color: $blue;
  border-color: $blue;
  border: $bsize;
  border-style: solid;
  border-radius: $bradius;
  transition: $anim-out;

  &:hover {
    color: $bg;
    background: $blue;
    transition: $anim-in;
  }
}

#wireplumber.muted {
  color: $red;
  border-color: $red;

  &:hover {
    background: $red;
    color: $bg;
  }
}

#battery {
  padding-left: $pleft;
  padding-right: $pright;
  background: $bg-o;
  color: $green;
  border-color: $green;
  border: $bsize;
  border-style: solid;
  border-radius: $bradius;
  transition: $anim-out;

  &:hover {
    color: $bg;
    background: $green;
    transition: $anim-in;
  }
}

#battery.normal {
  border-color: $blue;
  color: $blue;

  &:hover {
    color: $bg;
    background: $blue;
  }
}

#battery.warning {
  border-color: $yellow;
  color: $yellow;

  &:hover {
    color: $bg;
    background: $yellow;
  }
}

#battery.critical {
  border-color: $red;
  color: $red;

  &:hover {
    color: $bg;
    background: $red;
  }
}

#battery.charging {
  color: $green;
  border-color: $green;

  &:hover {
    color: $bg;
    background: $green;
  }
}
