* {
  font-family: "FiraCode Nerd Font";
  font-size: 15px;
  min-height: 15px;
}

window#waybar {
  all: unset;
  background: transparent;
}

.modules-left {
  margin-top: 10px;
  margin-left: 10px;
}

.modules-center {
  margin-top: 10px;
}

.modules-right {
  margin-top: 10px;
  margin-right: 10px;
}

#workspaces {
  padding-left: 0px;
  padding-right: 12px;
  background: rgba(22, 22, 30, 0.8784313725);
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #f38ba8;
}

#workspaces button {
  color: #f5e0dc;
  transition: none;
  margin: 0;
  padding-left: 8px;
  padding-right: 0px;
  transition: all 0.7s ease;
}
#workspaces button:hover {
  transition: all 0.1s ease;
  color: #f38ba8;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.active {
  transition: all 0.1s ease;
  color: #f38ba8;
}

#network {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(22, 22, 30, 0.8784313725);
  color: #a6e3a1;
  border: 1px;
  border-color: #a6e3a1;
  border-style: solid;
  border-radius: 5px;
  transition: all 0.7s ease;
}
#network:hover {
  transition: all 0.1s ease;
  background: #a6e3a1;
  color: #16161e;
}

#network.disabled {
  border-color: #f38ba8;
  color: #f38ba8;
}
#network.disabled:hover {
  background: #f38ba8;
  color: #16161e;
}

#network.disconnected {
  border-color: #f38ba8;
  color: #f38ba8;
}
#network.disconnected:hover {
  background: #f38ba8;
  color: #16161e;
}

#bluetooth {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(22, 22, 30, 0.8784313725);
  color: #f5e0dc;
  border-color: #f5e0dc;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  transition: all 0.7s ease;
}
#bluetooth:hover {
  transition: all 0.1s ease;
}

#bluetooth.on {
  border-color: #89b4fa;
  color: #89b4fa;
}
#bluetooth.on:hover {
  background: #89b4fa;
  color: #16161e;
}

#bluetooth.discovering {
  border-color: #f9e2af;
}
#bluetooth.discovering:hover {
  color: #f9e2af;
}

#bluetooth.connected {
  border-color: #a6e3a1;
}
#bluetooth.connected:hover {
  color: #a6e3a1;
}

#privacy {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(22, 22, 30, 0.8784313725);
  color: #89b4fa;
  border-color: #89b4fa;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  transition: all 0.7s ease;
}
#privacy:hover {
  transition: all 0.1s ease;
  color: #16161e;
  background: #89b4fa;
}

#clock {
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(22, 22, 30, 0.8784313725);
  color: #f5e0dc;
  border: 1px;
  border-style: solid;
  border-color: #f5e0dc;
  border-radius: 5px;
  transition: all 0.7s ease;
}
#clock:hover {
  color: #16161e;
  background: #f5e0dc;
  transition: all 0.1s ease;
}

#language {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(22, 22, 30, 0.8784313725);
  color: #f9e2af;
  border-color: #f9e2af;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  transition: all 0.7s ease;
}
#language:hover {
  color: #16161e;
  background: #f9e2af;
  transition: all 0.1s ease;
}

#backlight {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(22, 22, 30, 0.8784313725);
  color: #f5e0dc;
  border: 1px;
  border-style: solid;
  border-color: #f5e0dc;
  border-radius: 5px;
  transition: all 0.7s ease;
}
#backlight:hover {
  color: #16161e;
  background: #f5e0dc;
  transition: all 0.1s ease;
}

#wireplumber {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(22, 22, 30, 0.8784313725);
  color: #89b4fa;
  border-color: #89b4fa;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  transition: all 0.7s ease;
}
#wireplumber:hover {
  color: #16161e;
  background: #89b4fa;
  transition: all 0.1s ease;
}

#wireplumber.muted {
  color: #f38ba8;
  border-color: #f38ba8;
}
#wireplumber.muted:hover {
  background: #f38ba8;
  color: #16161e;
}

#battery {
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(22, 22, 30, 0.8784313725);
  color: #a6e3a1;
  border-color: #a6e3a1;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  transition: all 0.7s ease;
}
#battery:hover {
  color: #16161e;
  background: #a6e3a1;
  transition: all 0.1s ease;
}

#battery.normal {
  border-color: #89b4fa;
  color: #89b4fa;
}
#battery.normal:hover {
  color: #16161e;
  background: #89b4fa;
}

#battery.warning {
  border-color: #f9e2af;
  color: #f9e2af;
}
#battery.warning:hover {
  color: #16161e;
  background: #f9e2af;
}

#battery.critical {
  border-color: #f38ba8;
  color: #f38ba8;
}
#battery.critical:hover {
  color: #16161e;
  background: #f38ba8;
}

#battery.charging {
  color: #a6e3a1;
  border-color: #a6e3a1;
}
#battery.charging:hover {
  color: #16161e;
  background: #a6e3a1;
}
