
* {
    windowbg: #16161ee0;
    background:     #16161e;
    background-alt: #16161e;
    foreground:     #cdd6f4;
    element-foreground: #f9e2af;
    selected:       #f38ba8;
    active:         #f38ba8;
    urgent:         #f38ba8;
}
