$red: #f43e5c;
$green: #27d796;
$blue: #26bbd9;
$yellow: #fab795;
$lightyellow: #f9cbbe;
$white: #fadad1;
$bg: #16161c;
$bg-o: #16161ce0;
$dark-gray: #313131;

$text: $lightyellow;
$accent: $red;
$btn: $lightyellow;

@keyframes fadeIn {
  0% {
    padding-left: 20;
    margin-left: 50;
    margin-right: 50;
  }
  100% {
    padding: 0;
    margin: 0;
  }
}
* {
  outline: none;
}
.control-center .notification-row {
  background-color: unset;
}
.control-center .notification-row .notification-background .notification,
.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content,
.floating-notifications
  .notification-row
  .notification-background
  .notification,
.floating-notifications.background
  .notification-background
  .notification
  .notification-content {
}
.notification {
  background: $bg;
}

.control-center .notification-row .notification-background .notification {
  margin-top: 0.15rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  background: $bg;
  border: 1px solid $text;
}
.floating-notifications .notification {
  animation: fadeIn 0.25s ease-in-out;
  border: 1px solid $text;
}

.control-center .notification-row .notification-background .notification box,
.control-center .notification-row .notification-background .notification widget,
.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content,
.floating-notifications
  .notification-row
  .notification-background
  .notification
  box,
.floating-notifications
  .notification-row
  .notification-background
  .notification
  widget,
.floating-notifications.background
  .notification-background
  .notification
  .notification-content {
  border-radius: 0.818rem;
}
.notification widget:hover {
  background: $bg;
}
.floating-notifications.background
  .notification-background
  .notification
  .notification-content,
.control-center .notification-background .notification .notification-content {
  padding-top: 0.818rem;
  padding-right: unset;
  margin-right: unset;
}

.control-center
  .notification-row
  .notification-background
  .notification.low
  .notification-content
  label,
.control-center
  .notification-row
  .notification-background
  .notification.normal
  .notification-content
  label,
.floating-notifications.background
  .notification-background
  .notification.low
  .notification-content
  label,
.floating-notifications.background
  .notification-background
  .notification.normal
  .notification-content
  label {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.control-center
  .notification-row
  .notification-background
  .notification.notification-content
  image,
.control-center
  .notification-row
  .notification-background
  .notification.normal
  .notification-content
  image,
.floating-notifications.background
  .notification-background
  .notification.low
  .notification-content
  image,
.floating-notifications.background
  .notification-background
  .notification.normal
  .notification-content
  image {
  background-color: unset;
}

.control-center
  .notification-row
  .notification-background
  .notification.low
  .notification-content
  .body,
.control-center
  .notification-row
  .notification-background
  .notification.normal
  .notification-content
  .body,
.floating-notifications.background
  .notification-background
  .notification.low
  .notification-content
  .body,
.floating-notifications.background
  .notification-background
  .notification.normal
  .notification-content
  .body {
  color: $white;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical
  .notification-content,
.floating-notifications.background
  .notification-background
  .notification.critical
  .notification-content {
  background-color: $bg;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical
  .notification-content
  image,
.floating-notifications.background
  .notification-background
  .notification.critical
  .notification-content
  image {
  background-color: unset;
  color: $green;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical
  .notification-content
  label,
.floating-notifications.background
  .notification-background
  .notification.critical
  .notification-content
  label {
  color: $blue;
}
.notification-content {
  padding: 5;
}
.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary,
.floating-notifications.background
  .notification-background
  .notification
  .notification-content
  .summary {
  color: $text;
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
  font-weight: 500;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time,
.floating-notifications.background
  .notification-background
  .notification
  .notification-content
  .time {
  color: $text;
  font-size: 14px;
  font-weight: 500;
  margin-right: 1rem;
  padding-right: unset;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body,
.floating-notifications.background
  .notification-background
  .notification
  .notification-content
  .body {
  color: $white;
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.31rem;
  padding-right: unset;
  margin-right: unset;
}

.control-center .notification-row .close-button,
.floating-notifications.background .close-button {
  all: unset;
  background-color: unset;
  border-radius: 0%;
  border: none;
  box-shadow: none;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: unset;
  padding-bottom: unset;
  min-height: 20px;
  min-width: 20px;
  text-shadow: none;
  color: $red;

  &:hover {
    all: unset;
    transition: all 0.2s ease;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    margin-right: 0px;
    margin-top: 3px;
    margin-bottom: unset;
    padding-bottom: unset;
    min-height: 20px;
    min-width: 20px;
    text-shadow: none;
    color: $bg;
    background-color: $red;
  }
}

.control-center {
  background: $bg-o;
  color: $white;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
}

.notification-group .notification-group-buttons .notification-group-headers {
  all: unset;
  background-color: unset;
  border-radius: 0%;
  border: none;
  box-shadow: none;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: unset;
  padding-bottom: unset;
  min-height: 20px;
  min-width: 20px;
  text-shadow: none;
  color: $green;

  &:hover {
    all: unset;
    transition: all 0.2s ease;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    margin-right: 0px;
    margin-top: 3px;
    margin-bottom: unset;
    padding-bottom: unset;
    min-height: 20px;
    min-width: 20px;
    text-shadow: none;
    color: $bg;
    background-color: $red;
  }
}

.widget-title {
  padding: unset;
  margin: unset;
  color: $white;
  padding-left: 20px;
  padding-top: 20px;
}

.widget-title > button {
  padding: unset;
  margin: unset;
  font-size: initial;
  color: $accent;
  text-shadow: none;
  background: $bg;
  border: 1px solid $red;
  box-shadow: none;
  border-radius: 6px;
  padding: 0px 10px;
  margin-right: 20px;
  margin-top: 3px;
  transition: all 0.3s ease;
}

.widget-title > button:hover {
  background: $red;
  color: $bg;
  transition: all 0.3s ease;
}

.widget-label {
  margin: 8px;
}

.widget-label > label {
  font-size: 1.1rem;
}

.widget-buttons-grid {
  font-family: "FireCode Nerd Font";
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  margin: 10px;
  border-radius: 8px;
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 20px;
  color: $btn;
  transition: all 0.3s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover label {
  font-size: 20px;
  color: $bg;
  transition: all 0.3s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: $bg;
  border-radius: 6px;
  text-shadow: none;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.02);
  border: 1px solid $btn;
  transition: all 0.3s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: $btn;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  transition: all 0.3s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: $red;
  border-color: transparent;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
  color: $bg;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

trough {
  border-radius: 20px;
  background: $dark-gray;
}

trough highlight {
  padding: 5px;
  background: $red;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.7s ease;
}
trough highlight:hover {
  padding: 5px;
  background: $red;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  transition: all 0.7s ease;
}

trough slider {
  background: $red;
}
trough slider:hover {
  background: $red;
}

.widget-volume {
  color: $red;
  background-color: transparent;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}
.widget-backlight {
  color: $red;
  background-color: transparent;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}
