@keyframes fadeIn {
  0% {
    padding-left: 20;
    margin-left: 50;
    margin-right: 50;
  }
  100% {
    padding: 0;
    margin: 0;
  }
}
* {
  outline: none;
}

.control-center .notification-row {
  background-color: unset;
}

.notification {
  background: #16161e;
}

.control-center .notification-row .notification-background .notification {
  margin-top: 0.15rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  background: #16161e;
  border: 1px solid #f5e0dc;
}

.floating-notifications .notification {
  animation: fadeIn 0.25s ease-in-out;
  border: 1px solid #f5e0dc;
}

.control-center .notification-row .notification-background .notification box,
.control-center .notification-row .notification-background .notification widget,
.control-center .notification-row .notification-background .notification .notification-content,
.floating-notifications .notification-row .notification-background .notification box,
.floating-notifications .notification-row .notification-background .notification widget,
.floating-notifications.background .notification-background .notification .notification-content {
  border-radius: 0.818rem;
}

.notification widget:hover {
  background: #16161e;
}

.floating-notifications.background .notification-background .notification .notification-content,
.control-center .notification-background .notification .notification-content {
  padding-top: 0.818rem;
  padding-right: unset;
  margin-right: unset;
}

.control-center .notification-row .notification-background .notification.low .notification-content label,
.control-center .notification-row .notification-background .notification.normal .notification-content label,
.floating-notifications.background .notification-background .notification.low .notification-content label,
.floating-notifications.background .notification-background .notification.normal .notification-content label {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.control-center .notification-row .notification-background .notification.notification-content image,
.control-center .notification-row .notification-background .notification.normal .notification-content image,
.floating-notifications.background .notification-background .notification.low .notification-content image,
.floating-notifications.background .notification-background .notification.normal .notification-content image {
  background-color: unset;
}

.control-center .notification-row .notification-background .notification.low .notification-content .body,
.control-center .notification-row .notification-background .notification.normal .notification-content .body,
.floating-notifications.background .notification-background .notification.low .notification-content .body,
.floating-notifications.background .notification-background .notification.normal .notification-content .body {
  color: #f5e0dc;
}

.control-center .notification-row .notification-background .notification.critical .notification-content,
.floating-notifications.background .notification-background .notification.critical .notification-content {
  background-color: #16161e;
}

.control-center .notification-row .notification-background .notification.critical .notification-content image,
.floating-notifications.background .notification-background .notification.critical .notification-content image {
  background-color: unset;
  color: #a6e3a1;
}

.control-center .notification-row .notification-background .notification.critical .notification-content label,
.floating-notifications.background .notification-background .notification.critical .notification-content label {
  color: #89b4fa;
}

.notification-content {
  padding: 5;
}

.control-center .notification-row .notification-background .notification .notification-content .summary,
.floating-notifications.background .notification-background .notification .notification-content .summary {
  color: #f5e0dc;
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
  font-weight: 500;
}

.control-center .notification-row .notification-background .notification .notification-content .time,
.floating-notifications.background .notification-background .notification .notification-content .time {
  color: #f5e0dc;
  font-size: 14px;
  font-weight: 500;
  margin-right: 1rem;
  padding-right: unset;
}

.control-center .notification-row .notification-background .notification .notification-content .body,
.floating-notifications.background .notification-background .notification .notification-content .body {
  color: #f5e0dc;
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.31rem;
  padding-right: unset;
  margin-right: unset;
}

.control-center .notification-row .close-button,
.floating-notifications.background .close-button {
  all: unset;
  background-color: unset;
  border-radius: 0%;
  border: none;
  box-shadow: none;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: unset;
  padding-bottom: unset;
  min-height: 20px;
  min-width: 20px;
  text-shadow: none;
  color: #f38ba8;
  transition: all 0.7s ease;
}
.control-center .notification-row .close-button:hover,
.floating-notifications.background .close-button:hover {
  all: unset;
  transition: all 0.1s ease;
  border-radius: 100%;
  border: none;
  box-shadow: none;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: unset;
  padding-bottom: unset;
  min-height: 20px;
  min-width: 20px;
  text-shadow: none;
  color: #16161e;
  background-color: #f38ba8;
}

.control-center {
  background: rgba(22, 22, 30, 0.8784313725);
  color: #f5e0dc;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
}

.notification-group .notification-group-buttons .notification-group-headers {
  all: unset;
  background-color: unset;
  border-radius: 0%;
  border: none;
  box-shadow: none;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: unset;
  padding-bottom: unset;
  min-height: 20px;
  min-width: 20px;
  text-shadow: none;
  color: #a6e3a1;
  transition: all 0.7s ease;
}
.notification-group .notification-group-buttons .notification-group-headers:hover {
  all: unset;
  transition: all 0.1s ease;
  border-radius: 100%;
  border: none;
  box-shadow: none;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: unset;
  padding-bottom: unset;
  min-height: 20px;
  min-width: 20px;
  text-shadow: none;
  color: #16161e;
  background-color: #f38ba8;
}

.widget-title {
  padding: unset;
  margin: unset;
  color: #f5e0dc;
  padding-left: 20px;
  padding-top: 20px;
}

.widget-title > button {
  padding: unset;
  margin: unset;
  font-size: initial;
  color: #f38ba8;
  text-shadow: none;
  background: #16161e;
  border: 1px solid #f38ba8;
  box-shadow: none;
  border-radius: 6px;
  padding: 0px 10px;
  margin-right: 20px;
  margin-top: 3px;
  transition: all 0.7s ease;
  transition: all 0.3s ease;
}
.widget-title > button:hover {
  background: #f38ba8;
  color: #16161e;
  transition: all 0.1s ease;
}

.widget-label {
  margin: 8px;
}

.widget-label > label {
  font-size: 1.1rem;
}

.widget-buttons-grid {
  font-family: "FireCode Nerd Font";
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  margin: 10px;
  border-radius: 8px;
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 20px;
  color: #f38ba8;
  transition: anim-out;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover label {
  font-size: 20px;
  color: #16161e;
  transition: all 0.1s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: #16161e;
  border-radius: 6px;
  text-shadow: none;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.02);
  border: 1px solid #f38ba8;
  transition: all 0.7s ease;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: #f38ba8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  transition: all 0.1s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: #f38ba8;
  border-color: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
  color: #16161e;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

trough {
  border-radius: 20px;
  background: #45475a;
}

trough highlight {
  padding: 5px;
  background: #f9e2af;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.7s ease;
}

trough highlight:hover {
  padding: 5px;
  background: #f9e2af;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  transition: all 0.1s ease;
}

trough slider {
  all: unset;
}

.widget-volume {
  color: #f5e0dc;
  background-color: transparent;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.widget-backlight {
  color: #f5e0dc;
  background-color: transparent;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}
