$red: #f38ba8;
$green: #a6e3a1;
$yellow: #f9e2af;
$blue: #89b4fa;
$magenta: #f5c2e7;
$cyan: #94e2d5;
$white: #f5e0dc;
$black: #1e1e2e;
$gray: #45475a;
$gray-bright: #585b79;

$bg: #16161e;
$bg-o: #16161ee0;
$text: #cdd6f4;

$anim-in: all 0.1s ease;
$anim-out: all 0.7s ease;
